<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSUserNotificationAlertStyle</key>
    <string>banner</string>
    <key>NSDesktopFolderUsageDescription</key>
    <string>Abu 需要访问「桌面」文件夹，以便按照你的指令读取或写入桌面上的文件。</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Abu 需要访问「文稿」文件夹，以便按照你的指令读取或写入其中的文件。</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Abu 需要访问「下载」文件夹，以便按照你的指令读取或写入其中的文件。</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Abu Deep Link</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>abu</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
